* {
    margin: 0;
    padding: 0;
    /* background-color: black; */
    /* outline: 1px solid green; */
}

body {
    background-color: black;
}

.section3 {
    margin: 100px 80px;
}

.phase1-container1 {
    width: 562px;
    height: 57px;
    flex-shrink: 0;
    background: rgba(253, 22, 64, 0.30);
    margin-bottom: 20px;
    padding-top: 15px;
}

.phase1-text {
    color: #FD1640;
    font-family: Zen Dots;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 30px;
}

.list1-items {
    /* display: flex; */
    color: #FFF;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 40px 0px 12px 42px;
    background-color: transparent;
    /* justify-content: flex-start; */
    position: absolute;
    z-index: -2;
    background: rgb(253, 22, 64);
    width: 1248px;
    height: 140px;
}

.list1-items ul,
li {
    background-color: transparent;
}

.phase1-container2 {
    display: flex;
    justify-content: space-between;
    /* width: 1248px; */
    /* height: 140px; */

    z-index: 3;
    /* flex-direction: row; */
    /* align-items: center; */
    position: absolute;
}

.phase1-img1-container1 {
    width: 1248px;
    height: 140px;
    background-color: transparent;
    display: flex;
    place-content: end;
    position: relative;
}

.phase1-img1 {
    /* display: flex; */
    /* text-align: center; */
    position: absolute;
    /* justify-content: flex-end; */
    width: 306px;
    height: 358px;
    flex-shrink: 0;
    margin-top: -167px;
    z-index: 3;
    background-color: transparent;
}

.phase1-video1 video {
    position: absolute;
    display: flex;
    justify-content: flex-end;
    z-index: -3;
    width: 484px;
    height: 484px;
    margin-top: -200px;
    margin-left: -390px;
    border-radius: 50%;
    mix-blend-mode: lighten;
}